@import 'quasar/src/css/variables.sass';

$primary   : #455A64;
$secondary : #fac70d;
$accent    : #9C27B0;

$positive   : #33bca9;
$negative   : #dd282b;
$info       : #609ecc;
$warning    : #ffdf75;
$gray-blue  : #AABEC8;

$yellow     : #FFD140;

$bg-dark    : #1d1e1f;

$animate-duration : .15s;
$animate-delay    : .15s;
$animate-repeat   : 1;

$generic-border-radius: 12px;

$card-shadow: 8px 8px 10px 0 rgb($color: #000000, $alpha: .3);
$btn-shadow: 0 2px 5px rgb($color: #000000, $alpha: .3);

$font-primary: 'Roboto', sans-serif;
$font-secondary:  "Montserrat", sans-serif;