.FullScreen {
    .messenger-container {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 !important;
        width: 100vw !important;
        z-index: 2;
    }
    .messenger-wrapper {
        height: 100vh;
    }
    .panel-toolbar {
        background: $primary;
    }

    .messenger-main {
        min-height: calc(100% - 36px);
        @media (max-width: $breakpoint-xs) {
            min-height: calc(100% - 44px);;
        }
    }

    .panel-notifications {
        bottom: -12px;
        top: auto;

        @media (max-width: $breakpoint-xs) {
            display: none;
        }
    }
}
