.FullScreen {
    .messenger-container {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 !important;
        width: 100vw !important;
        z-index: 2;
    }
    .messenger-wrapper {
        height: 100%;
    }
    .panel-toolbar {
        background: $primary;
    }

    .messenger-main {
        min-height: calc(100% - 36px);
        @media (max-width: $breakpoint-xs) {
            min-height: calc(100% - 44px);
        }
    }

    .button-wrapper,
    .channel-form {
        padding-bottom: 10px;
    }

    .channel-form {
        @media (max-width: $breakpoint-xs) {
            padding-bottom: 4px;
        }
    }

    .button-wrapper {
        @media (max-width: $breakpoint-xs) {
            padding-bottom: 3px;
        }
    }

    .panel-notifications {
        bottom: -12px;
        top: auto;

        @media (max-width: $breakpoint-xs) {
            display: none;
        }
    }

    
    .how-it-works,
    .page-wrapper::before,
    footer {
        display: none;
    }
}
