$app-header-color: #100808 !default;
$app-header-bg-color: #fff !default;
$app-header-height: 80px !default;
$app-header-logo: "~/assets/img/logo.svg" !default;
$app-header-btn-shadow: $shadow-3 !default;
$app-header-marked-color: #00a57d;

.app-header {
  background-color: $app-header-bg-color;
  color: $app-header-color;
  min-height: $app-header-height;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $app-header-height;
    
    @media (max-width: $breakpoint-xs) {
      flex-direction: column;
    }
  }

  &__title {
    h1 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 21px;
      font-family: $font-secondary;

      @media (max-width: $breakpoint-xs) {
        font-size: 19px;
      }

      .marked {
        color: $app-header-marked-color;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 33px;

    @media (max-width: $breakpoint-xs) {
      padding: 13px 0 11px;
      gap: 10px;
    }
  }

  &__nav {
    a {
      color: rgba($app-header-color, 0.8);
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      margin: 0 10px;

      &:hover {
        text-decoration: underline;
        color: $app-header-color;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__logo {
    position: relative;
    width: 80px;
    height: 60px;
    margin-right: 10px;

    @media (max-width: $breakpoint-xs) {
      width: 93px;
      height: 77px;
      right: -4px;
    }


    .logo-wrapper {
      height: 101px;
      position: static;

      .sol-icon {
        position: absolute;
        width: 36px;
        height: 36px;
        background: url(@/assets/img/solana-logo-green.svg) no-repeat;
        background-size: 100% 100%;
        top: 0;
        left: -8px;
        transform: rotate(45deg);
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        place-content: center;
        background: url("@/assets/img/logo-bg.svg") no-repeat 50% 0;
        background-size: contain;
   
      }
      img {
        margin-top: -5px;
        width: 50%;
      }
    }

    svg {
      position: relative;
      z-index: 2;
    }
  }

  &__buttons {
    display: flex;

    @media (max-width: $breakpoint-xs) {
      margin-bottom: 24px;
    }

    .header-btn {
      font-family: $font-primary;
      line-height: 16px;
      font-size: 14px;
      height: 36px;

      &:first-child {
        width: 150px;
      }

      &:last-child {
        width: 180px;
      }
    }
  }

  &__cluster-btn {
    position: relative;
    min-height: auto;
    font-weight: 400;
    padding-top: 5px;
    font-size: 14px;
    height: 32px;
    z-index: 1;
    margin-right: 12px;
    color: #000;
  }

  &__wallet-btn {
    font-size: 14px;
    height: 32px;
    min-height: auto;
    font-weight: 400;
    min-width: 120px;
    background-color: $primary;
  }
}

@media (min-width: $breakpoint-sm) {
  .app-header {
    .container {
      justify-content: center;
      align-items: center;
    }

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__logo {
      width: 101px;
      margin-left: 20px;
      .logo-wrapper {
        display: flex;
        place-items: center;
        position: absolute;
        top: 14px;
        width: 100%;
        height: 81px;

        img {
          max-width: 56px;
          width: 100%;
          height: auto;
        }
      }
    }
    &__wallet-btn {
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .q-toolbar {
    padding: 1rem 0;
  }
  .app-header {
    &__logo {
      top: 0;

      a {
        position: static;
      }

      svg {
        max-height: 80px;
      }
    }

    &__buttons {
      box-shadow: none;
      margin-top: -5px;

      .q-btn {
        margin-top: 5px;
        width: 100%;
      }
    }
  }
}

@media (max-width: $breakpoint-xs) {
  .q-toolbar {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .app-header {

    &__nav {
      width: 100%;
      text-align: center;
      margin: 20px 0;
    }

    &__buttons {
      justify-content: left;
    }
  }
}
