
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: $breakpoint-xs) {
  .container,
  .container-sm {
    max-width: 599px;
  }
}

@media (min-width: $breakpoint-sm) {
  .container,
  .container-sm,
  .container-md {
    max-width: 1020px;
  }
}

@media (min-width: $breakpoint-md) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1140px;
  }
}

@media (min-width: $breakpoint-lg) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
}

// for more space on small notebooks
@media (min-width: 1143px) {
  .container, .container-sm, .container-md {
    max-width: 1140px;
  }
}
